.predictions {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.5em;
    font-weight: 500;
    padding: 5px 0;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    
    li > a {
        color: black;
    }
}

.media-icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6em;
    width: 10em;
}

.bet-offers {
    background-color:rgb(182,110,25);
    padding: 0 7px;
    border-radius: 5px;
}

.pre-container {
    padding: 2px 3px;
    width: 65em;
}


.settings {
  color: black;
}

.twitter  {
  color: #1DA1F2;
}

.facebook {
 color: #1877F2;
}

.instagram {
    color: #DD2A7B;
}

nav.nav-2 {
    background-color: rgb(76,135,76);
}

.sub-current {
    /* border: 2px solid red; */


    a {
        border: 2px solid green;
    }
}

div.info-slider {
    width: 100%;
    background-color: rgb(182,110,25);
    box-shadow: 0 0 10px rgb(175,95,1);
    margin-bottom: 30px;
}


.marriott {
    background-color: rgb(175,95,1);
    color: white;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
}

.bet {
    color: rgb(22, 21, 21);
    font-weight: 400;
    height: 3em;
    border-bottom:red ;
    font-size: 1.3em;

    a {
        color: rgb(22, 21, 21);
    }
}

.bet-options {
    height: 3em;
    padding: 10px 0;
   border-bottom: 3px solid gray;
}

